#woo_better_calc_shortcodes-description,
#woo_better_calc_functions-description {
    max-width: 700px;
}

.lkn-settings-tabs {
    display: flex;
    flex-wrap: wrap;
    min-height: 34px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.lkn-settings-tabs .nav-tab.nav-tab-active {
    background-color: #fff;
    color: #3C434A;
}

.lkn-settings-tabs .nav-tab {
    border: none;
    color: #9e9e9e;
    background-color: transparent;
    height: 34px;
    box-sizing: border-box;
    padding: 5px 20px;
}

@media (max-width: 1250px) {

    .lkn-settings-side {
        width: 100% !important;
        padding: 32px 0px !important;
    }

    .lkn-settings-content {
        min-width: 0px !important;
    }

    .lkn-settings-tabs {
        margin-bottom: 0px !important;
    }

    .titledesc {
        padding-top: 40px !important;
    }
}